<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <title>Hope College: What makes your future sail?</title>
</head>

<body style="offset=">
  
  <!-- Background Table -->
  
  <table style="background: #5482AB;" width="100%">
    <tr>
      <td align="center" valign="top">
        
        <!-- Content Table -->
        
        <table style="padding: 3px; margin: 10px 0px; background-color: #FFFFFF; box-shadow: -moz-box-shadow: 0px 0px 8px #4D4F53; -webkit-box-shadow: 0px 0px 8px #4D4F53; box-shadow: 0x 0px 8px #4D4F53;" width="600">
          <tr>
            <td>
              
              <!-- Header Image -->

              <table cellpadding="0" cellspacing="0" width="600">
                <tr>
                  <td style="background-color: #FFFFFF; border-top: 0px none #333333; border-bottom: 0px none #FFFFFF; padding: 0px;">
                    
                    <div>
                      <a href="https://www.hope.edu/admissions"><img alt="Hope: Learn it. Love it. Live it." border="0" height="120" src="https://www.hope.edu/admiss/email/graphics/email-header.gif" style="display: block;" width="600"></a>
                    </div>
                  
                  </td>
                </tr>
              </table>
              
              <table cellpadding="0" cellspacing="0" width="600">
                
                <!-- Subtitle and Quick Links -->

                <tr>
                  <td align="right" border="0" style="padding: 8px 6px; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 100%; letter-spacing: 1px;" width="374">
                  	ENVISION YOUR FUTURE AT <strong>HOPE COLLEGE</strong>
                  </td>

                  <td align="left" border="0" style="font-size: 12px; color: #0000000; line-height: 100%; font-family: Arial, Helvetica, sans-serif; background-color: #ffffff;" width="6">
                  	&nbsp;
                  </td>

                  <td align="center" border="0" style="padding: 8px 0px; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 100%;" width="220">
                  	<a href="https://www.hope.edu/admissions/visit" style="color: #F46A1F;">VISIT</a> | <a href="https://www.hope.edu/admissions/apply" style="color: #F46A1F;">APPLY</a> | <a href="https://www.hope.edu/admissions/contact" style="color: #F46A1F;">CONTACT</a>
                  </td>
                </tr>
                
                <!-- Body Content -->

                <tr>
                  <td align="left" valign="top" width="600" colspan="3" style="background-color: #f1f1f2; padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #4D4F53; line-height: 150%;">
                    
                    <div style="font-size: 24px; font-family: Georgia, serif; color:#F46A1F; padding-bottom: 10px; padding-top: 5px;">
                      What makes your future sail?
                    </div>

                    <p>
                    	<strong>${Contacts.Preferred First Name},</strong>
                    </p>

                    <p>Sed posuere consectetur est at lobortis. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Donec sed odio dui.
                    </p>

                    <p>
                    	<strong>Nullam quis risus eget urna mollis ornare vel eu leo.</strong>
                    </p>

                    <p>
                    	<strong>Elit Justo Pellentesque Purus</strong> Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</strong>
                    </p>
                  </td>

                <!-- Padding Row -->
                
                <tr>
                  <td colspan="3" style="font-size: 5px;" width="600">&nbsp;</td>
                </tr>

                <!-- Footer Area -->
                
                <tr>
                  <td align="right" colspan="3" style="background-color: #002244; padding: 12px; font-size: 12px; color: #ffffff; line-height: 150%; font-family: Arial;" valign="top">
                    <div>
                      <span><a href="https://www.hope.edu/admissions"><img align="left" alt="Hope College" border="0" height="36" src="https://www.hope.edu/admiss/email/graphics/email-logo.png" style="display: block;" width="252"></a>69 East 10th Street | PO Box 9000 | Holland, MI 49422<br>
                      800.968.7850 | <a href="https://www.hope.edu/admissions" style="color: #F46A1F; font-weight: bold;">hope.edu/admissions</a></span>
                    </div>
                  </td>
                </tr>
              
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>