<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=us-ascii" http-equiv="Content-Type" />

  <title>Hope College: General Email Template (Topic or Visit)</title>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="offset=" leftmargin="0">
  
  <!-- Background Table -->
  
  <table cellspacing="0" style="background: #FFFFFF;" width="100%">
    <tr>
      <td align="center" valign="top">
        
        <!-- Content Table -->
        
        <table cellspacing="0" style="margin: 10px 0px;" width="600" cellpadding="0">
          <tr>
            <td>
              
              <!-- Header Table -->
              
              <table cellspacing="0" cellpadding="0" width="600">
                
                <tr>
                  <td>
                  	<div>
                      <a href="https://www.hope.edu/admissions">
                      	<img src="https://www.hope.edu/admiss/email/graphics/flyin-email-header.gif" width="600" height="120" border="0" alt="Hope College Fly-In Weekend: February 28-March 2, 2013">
                      </a>
                    </div>
                  </td>
                </tr>
              
              </table>
              
              <!-- Body Table -->

              <table cellspacing="0" cellpadding="0" width="600">
                
                <tr>
                  <td colspan="3" width="600" style="font-size:5px;">&nbsp;</td>
                </tr>

                <tr>
                  <td width="190" rowspan="3" valign="top"><img src="https://www.hope.edu/admiss/email/graphics/top-3-sidebar.gif" /></td>

                  <!-- Subheading -->
                  
                  <td width="410" valign="top" style="padding: 18px; font-size: 16px; font-family: Georgia, serif; color: #F46A1F; line-height:125%;">
                    <p>
                    	Walk the campus. Smell the air. Touch the stone. Taste the food. Hear the music. Meet the people. Nothing can take the place of actually being here.
                    </p>
                  </td>
                  
                </tr>

                <tr>
                
                	<!-- Message Body -->
                
                  <td width="410" colspan="2" valign="top" style="padding: 0px 18px 18px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #4D4F53; line-height: 150%;">
                  	
                  	<p>
                    	<img src="http:/www.hope.edu/admiss/email/graphics/topic-img-article-1.gif" width="52" height="62" align="left" style="margin-right:10px; margin-bottom:5px;" />
                    	<strong>Atatqua turehendiore nim quae assinimpos</strong><br />
                    	Ugiae verspiti dent iumenda dunt untis abo. Atatqua turehendiore nim quae assinimpos non restionetum qui odi dolupta turepudic te odis as imus dunt et placcus in core sequam nonsecae.
                    </p>

                    <p>
	                    <img src="http:/www.hope.edu/admiss/email/graphics/topic-img-article-2.gif" width="52" height="62" align="left" style="margin-right:10px; margin-bottom:5px;" />
	                    <strong>Atatqua turehendiore nim quae assinimpos</strong><br />
	                    Ugiae verspiti dent iumenda dunt untis abo. Atatqua turehendiore nim quae assinimpos non restionetum qui odi dolupta turepudic te odis as imus dunt et placcus in core sequam nonsecae.
                    </p>
                  
                  
                  </td>

                </tr>
                
                <!-- Quick Links/Social Icons -->
                
                <tr>
                	
                	<td align="right" style="padding: 0px 0px 0px 18px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: #4D4F53;">
								    
									    <ul style="list-style-type: none;">
									    
									    	<li style="display: inline; padding-left: 5px; vertical-align: middle;">
									    		<a href="#" style="color: #F46A1F; font-weight: bold;">Quick Link #1</a>
									    	</li>
									    	
									    	<li style="display: inline; padding-left: 10px; vertical-align: middle;">
									    		<a href="#" style="color: #F46A1F; font-weight: bold;">Quick Link #2</a>
									    	</li>
									    	
									    	<li style="display: inline; padding-left: 20px;">
									    		<a href="https://www.facebook.com/hopecollege"><img src="https://www.hope.edu/admiss/email/graphics/email-facebook.png" alt="Hope College on Facebook" width="24" height="24" border="0" style="vertical-align: middle;"></a>
									    	</li>
									    	
									    	<li style="display: inline; padding-left: 3px;">
									    		<a href="https://www.twitter.com/hopecollege"><img src="https://www.hope.edu/admiss/email/graphics/email-twitter.png" alt="Hope College on Twitter" width="24" height="24" border="0" style="vertical-align: middle;"></a>
									    	</li>
									    	
									    	<li style="display: inline; padding-left: 3px;">
									    		<a href="https://www.youtube.com/hopecollege"><img src="https://www.hope.edu/admiss/email/graphics/email-youtube.png" alt="Hope College on YouTube" width="24" height="24" border="0" style="vertical-align: middle;"></a>
									    	</li>
									    	
									    	<li style="display: inline; padding-left: 3px;">
									    		<a href="https://life.hope.edu"><img src="https://www.hope.edu/admiss/email/graphics/email-blogs.png" alt="Hope College Student Blogs" width="24" height="24" border="0" style="vertical-align: middle;"></a>
									    	</li>
									    
									    </ul>
								    
								    </span>
                  	
                  </td>
                
                </tr>

                <tr>
                  <td colspan="3" width="600" style="font-size:5px;">&nbsp;</td>
                </tr>

                <tr>
                  <td width="220" colspan="2" align="right" valign="top" style="background-color: #002244; padding: 12px; font-size: 12px; color: #ffffff; line-height: 150%; font-family: Arial;">
                    	<span>
                    		<img src="https://www.hope.edu/admiss/email/graphics/email-logo.png" align="left" width="252" height="36" alt="Hope College">
                    	</span>
                    	<p>
	                    	69 East 10th Street | PO Box 9000 Holland, MI 49422<br>
	                    	800.968.7850 | <a href="https://www.hope.edu/admissions" style="color: #F46A1F; font-weight: bold;">hope.edu/admissions</a>
                    	</p>
                  </td>
                </tr>
              
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>
