<html>
<head>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <title>Hope College: What can you discover in four years?</title>
</head>

<body style="offset=">
  
  <!-- Background Table -->
  
  <table style="background: #FFFFFF;" width="100%">
    <tr>
      <td align="center" valign="top">
        
        <!-- Content Table -->
        
        <table style="margin-top: 10px; margin-bottom:10px;" width="600">
          <tr>
            <td>
              
              <!-- Header Image -->

              <table cellpadding="0" cellspacing="0" width="600">
                <tr>
                  <td style="background-color: #FFFFFF; border-top: 0px none #333333; border-bottom: 0px none #FFFFFF; padding: 0px;">
                    
                    <div>
                      <a href="http://www.hope.edu/admissions"><img alt="Hope: Learn it. Love it. Live it." border="0" height="120" src="http://www.hope.edu/admiss/email/graphics/email-header.gif" style="display: block;" width="600"></a>
                    </div>
                  
                  </td>
                </tr>
              </table>
              
              <table cellpadding="0" cellspacing="0" width="600">
                
                <!-- Subtitle and Quick Links -->

                <tr>
                  <td align="right" border="0" style="padding: 8px 6px; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 100%; letter-spacing: 1px;" width="374">
                  	ENVISION YOUR FUTURE AT <strong>HOPE COLLEGE</strong>
                  </td>

                  <td align="left" border="0" style="font-size: 12px; color: #0000000; line-height: 100%; font-family: Arial, Helvetica, sans-serif; background-color: #ffffff;" width="6">
                  	&nbsp;
                  </td>

                  <td align="center" border="0" style="padding: 8px 0px; background-color: #ffffff; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; line-height: 100%;" width="220">
                  	<a href="http://www.hope.edu/admissions/visit" style="color: #F46A1F;">VISIT</a> | <a href="http://www.hope.edu/admissions/apply" style="color: #F46A1F;">APPLY</a> | <a href="http://www.hope.edu/admissions/contact" style="color: #F46A1F;">CONTACT</a>
                  </td>
                </tr>
                
                <!-- Body Content -->

                <tr>
                  <td align="left" valign="top" rowspan="4" style="background-color: #f1f1f2; padding: 20px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #4D4F53; line-height: 150%;" width="374">
                    
                    <div style="font-size: 24px; font-family: Georgia, serif; color:#F46A1F; padding-bottom: 10px; padding-top: 5px; line-height: 110%;">
                      What can you discover in<br>
                      four years?
                    </div>

                    <div style="padding-top: 5px; font-size: 14px; font-family: Georgia, serif; color: #5482AB;">
	                    Your all-American College town
	                  </div>

                    <p>
	                    Holland, MI &mdash; glorious trees, Lake Michigan beaches charming downtown and exciting outdoor life and recreation. No wonder insiders know Western Michigan as a resort destination.
	                  </p>

                    <p>
                    	<strong>Ready to get rolling on your path to Hope College?</strong>
                    </p>

                    <div align="center">
                      <a href="https://crm.orionondemand.com/crm/forms/N7kk0oB0kA70x6708En"><img alt="Let's Go!" height="41" src="http://www.hope.edu/admiss/email/graphics/lets-go-CTA.gif" style="display: block; padding: 10px 0px;" width="146"></a>
                    </div>

                    <p>
                    	<strong>We live for this.</strong> Teaming up to research what intrigues us. Winning games with seconds to spare. Listening to world music. Discovering subjects we’ve never explored. Filming documentaries in Scotland. Scoring Fulbright fellowships. Lifting our spirits at the Gathering. <strong>This is Hope College.</strong>
                    </p>
                  </td>

                  <!-- Middle Column -->
                  
                  <td align="left" rowspan="4" style="background-color: #ffffff;" width="6">&nbsp;</td>

                  <!-- Sidebar -->
                  
                  <td align="left" style="background-color: #4D4F53; border: 0px none #FFFFFF; padding: 15px 0px;" valign="top" width="220">
                    
                    <div>
                    	<img src="http://www.hope.edu/admiss/email/graphics/visit-days-sidebar.png" width="200" height="62" alt="Upcoming Visit Days">
                    </div>

                    <div style="padding: 15px 20px 15px 20px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #4D4F53;">
	                    <a href="https://crm.orionondemand.com/crm/forms/M00C7Gd77073x6700kG00n" style="color: #F46A1F;">Friday, September 27</a><br>
                      <a href="https://crm.orionondemand.com/crm/forms/EB0T3NI7Bk0kx6708En" style="color: #F46A1F;">Friday, October 18</a><br> 
                      <a href="https://crm.orionondemand.com/crm/forms/C7Bl0sI7Bk0kx6708En" style="color: #F46A1F;">Friday, October 25</a><br>
                      <a href="https://crm.orionondemand.com/crm/forms/N7S87Gd77073x6700kG00n" style="color: #F46A1F;">Friday, November 1</a><br>
                      <a href="https://crm.orionondemand.com/crm/forms/Gc0T3NI7Bk0kx6708En" style="color: #F46A1F;">Friday, November 8</a><br>
                      <a href="https://crm.orionondemand.com/crm/forms/zN7l0sI7Bk0kx6708En" style="color: #F46A1F;">Friday, November 15</a><br>
                      <a href="https://crm.orionondemand.com/crm/forms/Kx7B78I7Bk0kx6708En" style="color: #F46A1F;">Friday, November 22</a>
                    </div>

                    <div style="padding-bottom: 5px;">
                    	<img src="http://www.hope.edu/admiss/email/graphics/connect-sidebar.png" width="138" height="25" alt="Connect">
									  </div>

                    <div style="padding: 5px 20px 0px 20px;">
                      <a href="http://www.facebook.com/hopecollege" style="text-decoration: none;">
                      	<img src="http://www.hope.edu/admiss/email/graphics/email-facebook.png" alt="Hope College on Facebook" width="24" height="24" border="0">
                      </a>
                      &nbsp;
                      <a href="http://www.twitter.com/hopecollege" style="text-decoration: none;">
                      	<img src="http://www.hope.edu/admiss/email/graphics/email-twitter.png" alt="Hope College on Twitter" width="24" height="24" border="0">
                      </a>
                      &nbsp;
                      <a href="http://www.youtube.com/hopecollege" style="text-decoration: none;">
                      	<img src="http://www.hope.edu/admiss/email/graphics/email-youtube.png" alt="Hope College on YouTube" width="24" height="24" border="0">
                      </a>
                      &nbsp;
                      <a href="http://life.hope.edu" style="text-decoration: none;">
                      	<img src="http://www.hope.edu/admiss/email/graphics/email-blogs.png" alt="Hope College Student Blogs" width="24" height="24" border="0">
                      </a>
                    </div>
                  
                  </td>
                </tr>

                <tr>
                  <td style="font-size:5px;" width="220">&nbsp;</td>
                </tr>

                <tr>
                  <td align="left" width="220"><img alt="Hope student on skateboard" height="100" src="http://www.hope.edu/admiss/email/graphics/sus4-sidebar.jpg" style="display:block;" width="220"></td>
                </tr>

                <tr>
                  <td style="font-size:5px;" width="220">&nbsp;</td>
                </tr>

                <tr>
                  <td colspan="3" style="font-size:5px;" width="600">&nbsp;</td>
                </tr>

                <!-- Footer Area -->
                
                <tr>
                  <td align="right" colspan="3" style="background-color: #002244; padding: 12px; font-size: 12px; color: #ffffff; line-height: 150%; font-family: Arial;" valign="top">
                    <div>
                      <span><a href="http://www.hope.edu/admissions"><img align="left" alt="Hope College" border="0" height="36" src="http://www.hope.edu/admiss/email/graphics/email-logo.png" style="display: block;" width="252"></a>69 East 10th Street | PO Box 9000 | Holland, MI 49422<br>
                      800.968.7850 | <a href="http://www.hope.edu/admissions" style="color: #F46A1F; font-weight: bold;">hope.edu/admissions</a></span>
                    </div>
                  </td>
                </tr>
              
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>
</html>